.img{
    width: 2em;
}
.contenido{
    display: flex;
    flex-direction: column;
}
.nombre_img {
    margin: 1em 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.nombre_img p{
    padding-left: 1em;
}